body{
    background: #9B9574;
    height: 100vh;
}



h1,h2,h3{
    word-wrap: break-word;
}

.fill{
    min-height: 100vh;
}

.header{
    background: #736E50;
    min-height: 15vh;
    color: #ECE8D3;
    border-bottom: 15px solid #57502C;
}

.content{
    background: #BFBA9D;
    min-height: 85vh;
    color: #736E50;
}


input[type="text"] {
    height:50px;
    font-size: 24px;

}

.error{
    border-left: 5px solid red;
}
.footer1{
    position: fixed;
    left:22;
}

.btn-cust{
background: #57502C;
border: none;
color:white;
font-weight: bold;
}

.btn-cust:hover, .btn-cust:focus{
    background: rgb(61, 46, 0);
    border: none;
}

.btn:active{
    border: none;
}

#errorsect{
    color:black;
}